{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
	<div class="content-section">
		<h1>{{ profile_user.username }}</h1>
		<small class="text-muted">Description</small>
		<p class="article-content">{{ profile_user.bloguser.desc }}</p>
		<small class="text-muted">Hometown</small>
		<p class="article-content">{{ profile_user.bloguser.hometown }}</p>
		{% if profile_user.bloguser.birth_date %}
			<small class="text-muted">Birth Date</small>
			<p class="article-content">{{ profile_user.bloguser.birth_date }}</p>
		{% endif %}
	</div>
	{% if posts %}
	<div class="content-section">
		{% for post in posts %}
			<article class="media content-section">
				<div class="media-body">
					<div class="article-metadata">
						<a class="mr-2" href="{% url 'profile' post.author.username %}">{{ post.author }}</a>
						<small class="text-muted">{{ post.post_date }}</small>
					</div>
					<h2><a class="article-title" href="{% url 'post' post.id %}">{{ post.title }}</a></h2>
					<p class="article-content">{{ post.content }}</p>
					<small class="text-muted">{{ post.blogcomment_set.count }} Comment(s)</small>
				</div>
			</article>
		{% endfor %}
	</div>	
	{% endif %}
{% endblock %}
{% block sidebar %}
	<div class="content-section">
    	<h3>Details</h3>
    	<ul class="list-group">
        	<li class="list-group-item list-group-item-light">{{ profile_user.blogpost_set.count }} post(s)</li>
        	<li class="list-group-item list-group-item-light">{{ profile_user.score }} total score</li>
        	<li class="list-group-item list-group-item-light">{{ profile_user.followers.count }} follower(s)</li>
        	<li class="list-group-item list-group-item-light">{{ profile_user.following.count }} following</li>
        	{% if profile_user == user and user.is_authenticated %}
        		<li class="list-group-item list-group-item-light"><a href="{% url 'user-update' %}">Update Profile</li>
        	{% endif %}
        	{% if profile_user != user and user.is_authenticated %}
        		{% if following %}
        			<li class="list-group-item list-group-item-light"><a href="{% url 'unfollow-user' user.id profile_user.id %}" class="text-danger">Unfollow</a></li>
        		{% else %}
        			<li class="list-group-item list-group-item-light"><a href="{% url 'follow-user' user.id profile_user.id %}">Follow</a></li>        		
        		{% endif %}
        	{% endif %}
      	</ul>
        </p>
  	</div>
{% endblock %}